html, body {
    height: 100%;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;    
    border: 0px;
}

button {
    border: none;
    height: 50px;
    min-height: 100%;
    width: 85px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-right: 15px;
}

button:hover {
    background-color: #3CB371;
    color: white;
}

select {
    margin-right: 15px;
    margin-top: 3px;
    font-size: 13px;
    border-radius: 0;
    text-align-last: center;
    -webkit-tap-highlight-color: transparent; /* Fixes weird blue blink on iOS on select. */
}

input[type=checkbox] {
    margin-right: 5px;
    opacity : 1;
}

body {
    height: 100%;
    min-height: 100%;
}

#usercode {
    margin: 0px;

    height: 70%;
    min-height: 70%;
}

#executionresult {
    height: 100vh;
    font-size: 13px;
}

#editorcontainer {
    display: flex;
    min-height: 100%;
    height: 100%;
    flex-direction: column;

    -webkit-tap-highlight-color: transparent; /* Fixes weird blue icon on iOS when page loads. */
}

#menu {
    min-height: 50px;
    display: flex;
    align-items: center;
    background-color: #DCDCDC;   
}

#enableAutoComplete {
    vertical-align: middle;
}

select {
    height: 25px;
}

#selectLanguageContainer, #selectThemeContainer {
    text-align:center;
    margin-left: 3px;
}

/* For screens with limited width (eg. cellphones on portrait mode). */
@media only screen and (max-width: 500px) { 
    #editorOptions, #selectThemeContainer {
        display: none;
    }

    #selectLanguageContainer {
        margin: auto;
        width: 50%;
    }
}

/* For screens with limited height (eg. cellphones on landscape mode). */
@media only screen and (max-height: 500px) {
    /* Makes the code div smaller to give more space for the results. */
    #usercode {
        height: 55%;
        min-height: 55%;
    }
}