html, body {
    height: 100%;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;    
    border: 0px;
}

button {
    height: 50px;
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
}

#usercode {
    margin: 0px;

    height: 70%;
    min-height: 70%;
}

#executionresult {
    height: 100vh;
}

#editorcontainer {
    display: flex;
    min-height: 100%;
    height: 100%;
    flex-direction: column;
}

#menu {
    min-height: 50px;
    display: flex;
    align-items: center;
    background-color: #DCDCDC;   
}

#enableAutoComplete {
    vertical-align: middle;
}

select {
    height: 25px;
}

#selectLanguageContainer {
    text-align:center;
    margin-left: 3px;
}